<!doctype html>

<!--

AngularJS R:
 * Directive     -> HTML annotations that trigger Javascript behaviors
 * Modules       -> Where the application components live
 * Controllers   -> Where we add the application behavior
 * Expressions   -> How values get displayed within the page

 * Filters       -> syntax: " {{ data* | filter:options* }} "
                    ex(s): - the 'date' filter                   => " {{ '1388123412323' | date:'MM/dd/yyyy @ h:mma' }} "  ==> " 12/27/2013@12:50AM "
                           - the 'uppercase & lowercase' filters => " {{ 'octagon gem' | uppercase }} "                    ==> " OCTAGON GEM "
                           - the 'limitTo' filter                => " {{ 'My Description' | limitTo:8 }} "                  ==> " My Descr "
                                                                 => " <li ng-repeat=" product in store.products | limitTo:3 "> "
                           - the 'orderBy' filter                => " <li ng-repeat=" product in store.products | orderBy:'-price' "> "
                             R: '-price' for descending price, 'price' for ascending order

 * examples of 2-way Data Binding using 'ng-model':
   - with a checkbox => sets value to true or false
     " <input ng-model="review.terms" type="checkbox" /> I agree to the terms "
   - with radio buttons => sets the proper value based on wich is selected
     " What color would you like ?
       <input ng-model="reviewcolor" type="radio" value="red" /> Red
       <input ng-model="reviewcolor" type="radio" value="blue" /> Blue
       <input ng-model="reviewcolor" type="radio" value="green" /> Green
     "
-->

<html ng-app="store"> <!-- ng-app directive to execute the corresponding module when the document loads -->
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="StoreController as store">
    <div>
      <label> Votre Nom:</label>
      <input type="text" ng-model="leNom" placeholder="Entrez votre nom ici">
      <hr>
      <h1>Hello {{leNom}} !</h1>
    </div>
    
    <!-- codeSchool tut -->
    <!-- ng-controller directive to attach our controller to this html element -->
    <!-- we use the name of the controller as the value & specify an alias that we'll use in our expression -->
    <ul>
      <li ng-repeat="product in store.products" ng-hide="store.product.soldOut">
        <!--
        <h1> {{store.product.name}} </h1>
        <h2> ${{store.product.price}} </h2>
        <p>  {{store.product.description}} </p>
        -->
      
        <!-- 
        <h1> {{store.product[0].name}} </h1>
        <h2> ${{store.product[0].price}} </h2>
        <p>  {{store.product[0].description}} </p>
        -->
        
        <!-- we use the 'pipe' to send the output to the 'currency' filter, wich gives us a localized currency sign & correct number of decimals  -->
        <h3> 
          {{product.name}} | {{product.description}}
          <em class="pull-right">{{ product.price | currency }}</em>
          <img ng-src="img/{{ product.images[0].full }}" /> <!-- display our image using an expression for its source url -->
        </h3>
        
        <!-- ng-init allows to evaluate an expression in the current scope, aka here, set a specific tab panel open on page load -->
        <!-- <section ng-init="tab = 1" > --> <!-- was used before moving the initialization in the 'PanelController' -->
        <section ng-controller="PanelController as panel" > 
         <!-- our product's info tabs -->
          <ul class="nav nav-pills">
            <!-- we use the ng-click directive to make an expression execute when clicking on the tabs -->
            <!-- we use the ng-class directive to set the 'active' class of our tabs -->
            <!--    we pas it an object, with the name of the class to set as parameter & the expression to evaluate as value  -->
            <!-- <li ng-class="{ active:tab === 1 }"> --> <!-- was used before the comparision code was moved to the app.js file -->
            <li ng-class="{ active:panel.isSelected(1) }">
              <!-- <a href ng-click="tab = 1" >Description</a> --> <!-- was used before moving the assignement logic in the PanelController -->
              <a href ng-click="panel.selectTab(1)" >Description</a>
            </li> <!-- actually , 'ng-click' assign a value to each tab -->
            <!-- <li ng-class="{ active:tab === 2 }"> -->
            <li ng-class="{ active:panel.isSelected(2) }">
              <!-- <a href ng-click="tab = 2" >Specifications</a> -->
              <a href ng-click="panel.selectTab(2)" >Specifications</a>
            </li>
            <!-- <li ng-class="{ active:tab === 3 }"> -->
            <li ng-class="{ active:panel.isSelected(3) }">
              <!-- <a href ng-click="tab = 3" >Reviews</a> -->
              <a href ng-click="panel.selectTab(3)" >Reviews</a>
            </li>
          </ul>
          <!-- {{ tab }} --> <!-- debug print of the value assigned to each of the tabs -->
          <!-- 
              R: when ng-click changes the value of tab, the {{tab}} expression gets updates => Expressions defines a 2-way Data Binding
                 aka, expressions are re-evaluated when a property changes
          -->
          <!-- our product's info tabs content panels -->
          <!-- <div class="panel" ng-show="tab === 1" > --> <!-- 'old way' --> <!-- we use ng-show to show the pane if the tab is the right number -->
          <div class="panel" ng-show="panel.isSelected(1)" >
            <h4> Description </h4>
            <p> {{ product.description }} </p>
          </div>
          <!-- <div class="panel" ng-show="tab === 2" > -->
          <div class="panel" ng-show="panel.isSelected(2)" >
            <h4> Specifications </h4>
            <p> Not yet </p>
          </div>
          <!-- <div class="panel" ng-show="tab === 3" > -->
          <div class="panel" ng-show="panel.isSelected(3)" >
            <h4> Reviews </h4>
            <!-- <p> Not yet </p> --> <!-- was used before as placeholder -->
            <!-- all the reviews of the product posted by previous clients -->
            <blockquote ng-repeat="review in product.reviews" >
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <cite>by: {{review.author}}</cite>
            </blockquote>
            <!-- a form to allow a client to enter a new review -->
            <form name="reviewForm">
             <!-- live preview of the review being written by the client for him to see -->
             <blockquote>
              <b>Stars: {{review.stars}}</b>
              {{review.body}}
              <cite>by: {{review.author}}</cite>
            </blockquote>
             
              <select ng-model="review.stars"> <!-- we use ng-model to bind the form elements value to the property -->
                <option value="1" >1 star</option>
                <option value="2" >2 stars</option>
              </select>
              <textarea ng-model="review.body"></textarea> 
              <label>by:</label>
              <input ng-model="review.author" type="email" />
              <input type="submit" value="Submit" />
            </form>
          </div>
        </section>
        
        
      
        <!-- we use a directive to only show the button when 'canPurchase' is true -->
        <!-- <button ng-show="store.product.canPurchase"> Add to cart </button> --> <!-- the absence of the property check is evaluated as 'falsy' -->
        <!-- <button ng-show="store.product[0].canPurchase"> Add to cart </button> -->
        <button ng-show="product.canPurchase"> Add to cart </button>
      </li>
    </ul>

    <script src="js/background.js"></script> <!-- ChromePackagedApp module -->
  </body>
</html>